<%- include("../partials/header.ejs"); %>

<html>
     <body>
        
         
         <div class="login_form">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <h3></h3>
                <p><input type="text" name="email" placeholder="Email"></p>
                <p><input type="password" name="password" placeholder="Password"></p>
                <input type="submit" value="Log In">
            </form>
        </div>
    </body>
</html>