<%- include("./partials/header.ejs"); %>

<html>
    <body>
        <h1>Edit your profile here</h1>

        <section class="register_right">
            <div class="mb-3">
              <label class="form-label">Desired Salary</label>
              <input type="text" class="form-control"  aria-describedby="desiredSalary" name="desiredSalary">
            </div><div class="mb-3">
              <label class="form-label">Desired Industry</label>
              <input type="text" class="form-control"  aria-describedby="desiredSalary" name="desiredIndustry">
            </div>
            <div class="mb-3">
              <label class="form-label">Desired City</label>
              <input type="text" class="form-control"  aria-describedby="desiredSalary" name="desiredCity">
            </div>
            <div class="mb-3">
              <label class="form-label">Profile Photo</label>
              <input type="text" class="form-control"  aria-describedby="desiredSalary" name="profileImg">
            </div>
            <div class="mb-3">
              <label class="form-label">Skills</label>
              <input type="text" class="form-control"  aria-describedby="desiredSalary" name="skills">
            </div>
          </section>
    </body>
</html>