<%- include("partials/header.ejs"); %>

<html>
    <body>
        <h2>Welcome!</h2>
            <div class="welcome_div">
                <a href="/login">Login</a><br>
                <a href="/register">Register</a><br>
            </div>

            <div class='welcome_card'>
                <p>In Tech graphic</p>
                <p>Finding your dream tech job has never been easier!</p>
            </div>

    </body>
</html>


