<%- include("partials/header.ejs"); %>

<html>
    <body>
            <div class="welcome_div">
                <div class="welcome_graphic">
                    <img id="welcome_intech" src="https://www.pngkit.com/png/full/128-1285102_code-optimization-interface-circular-symbol-icons-software-developer.png">
                </div>
                <div class='welcome_card'>
                    <p>Finding your dream tech job has never been easier!</p>
                </div>
                <div class="welcome_anchors">
                    <form action="/login">
                        <button class="btn btn-primary" type="submit" value="Login">Login</button>
                    </form>
                    <form action="/register">
                        <button class="btn btn-primary" type="submit" value="Register">Register</button>
                    </form>
                </div>
            </div>

    </body>
</html>


