<%- include("partials/header.ejs"); %>

<html>
    <body>
        <h1>User Profile Page</h1>

        <div>
            <form action="/logout?_method=DELETE" method="POST">
                <input type="submit" value="Logout">
            </form>
        </div>
    </body>
</html>