<%- include("../partials/header.ejs"); %>

<html>
    <body>
        <div class="passwordError_div">
            <h3>Your password was incorrect, please try again :)</h3>
            <a href="/login">Back to Login</a>
        </div>
    </body>
</html>