<%- include("../partials/header.ejs"); %>

<html>
    <body>
        <div class="error_div">
            <h3>You must provide a valid email :)</h3>
            <a href="/login">Back to Login</a>
        </div>
    </body>
</html>