<%- include("../partials/header.ejs"); %>

<html>
    <body>
        <div class="error_div">
            <h3>You must provide a valid email, username or password :)</h3>
            <a href="/register">Back to Register</a>
        </div>
    </body>
</html>