* {
	box-sizing: border-box;
}

.profile_edit_form {
    max-width: 500px;
    padding: 30px;
    margin-left: 500px;
}

/* ---------- 
Register View
--------------*/
.register_form_div {
    position: relative;
}

.register_form {
    /* display: flex; */
    max-width: 500px;
}

.register_right {
    /* position: absolute; */
    margin-left: 1%;
    max-width: 500px;;
}

.register_left {
    /* position: absolute; */
    margin-left: 1%;
}

.register_form_button {
    /* position: absolute; */
    margin-top: 5%;
    margin-left: 1%;
}

/* ------------------------------- 
Homepage View if user is signed in
---------------------------------*/

.profile_card {
    
}
