* {
	box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
h1 {
    padding: 10px;
}
h2 {
    padding: 10px;
    margin-left: -2%;
}
#welcome {
    margin-left: 1%
}

h5 {
    font-weight: bold;
}

/* ------------ 
     Navbar
--------------*/

nav {
    margin: 0px
}

span {
    margin-left: 8px;
    font-size: larger;
}

/* ------------ 
  Log in View
--------------*/

.login_form {
    padding: 10px;
}

/* ------------ 
 Register View
--------------*/
.register_form_div {
    position: relative;
    margin-left: 37%;
}

.register_form {
    /* display: flex; */
    max-width: 500px;
}

.register_right {
    /* position: absolute; */
    margin-left: 1%;
    max-width: 500px;;
}

.register_left {
    /* position: absolute; */
    margin-left: 1%;
}

.register_form_button {
    /* position: absolute; */
    margin-top: 5%;
    margin-left: 1%;
}

/* ------------------------------- 
Homepage View if user not signed in
---------------------------------*/
.welcome_div {
    padding: 10px;
}

/* ------------------- 
    Landing Page
---------------------*/

.welcome_div {
    /* font-family: 'IBM Plex Sans', sans-serif; */
    position: relative;
    display: flex;
    margin-left: 36%;
    /* border-style: solid; */
    width: 500px;
    height: 275px;
    margin-top: 10%;
}

#welcome_intech {
    width: 250px;
    height: 250px;
}
.welcome_graphic {
    position: absolute;
    margin-left: -7%;
}
.welcome_card {
    position: relative;
    font-size: x-large;
    width: 200px;
    margin-left: 260px;
    text-align: center;
    margin-top: 7%;
}

.welcome_anchors {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    width: 200px;
    justify-content: space-between;
    margin-top: 35%;
    margin-left: 53%;
}


/* ------------------------------- 
Homepage View if user is signed in
---------------------------------*/

.profile_page {
    position: relative;
}

.profile_card h4{
    padding: 5px;
}

.list-group h5 {
    margin-left: 0px;
    padding: 10px;
}

.profile_card {
    
    max-width: 300px;
    position: absolute;
    margin-left: 7px;
}

#profile_card_image {
    max-width: 75%;
    border-radius: 100%;
    margin-bottom: 10%;
    margin-left: 10%;
}

#home_anchors {
    margin-left: 14%;
}

.joblisting_grid {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 25%;
    margin-right: 5%;
    gap: 40px;
}

.joblisting_card {
    max-width: 300px;
    height: 300px;
    background-color: #0D6EFD;
    padding: 10px;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    /* position: absolute; */
}

.card_link_div {
    margin-top: 10px;
}

.company_card_photo {
    max-width: 100%;
    margin-bottom: 10px;
}

.company_card_photo_div {
    margin-bottom: 20px;
}

.card_link_div {
    margin-bottom: 0;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.requiredSkills_cardLinks {
    margin-top: auto;
}

/* --------------------- 
   Saved Jobs view
-----------------------*/
.card-title-save {
    padding: 10px;
}


/* --------------------- 
   Error message CSS
-----------------------*/
.error_div {

    width: 400px;
    margin-left: 40%;
    margin-top: 10%;
}